Repository Chia-Network/chia-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Chia-Network/required-reviewers, @Chia-Network/actions-reviewers, @altendky

avoid set for test parametrization
  chia/_tests/rpc/test_rpc_client.py
Owners: @Chia-Network/required-reviewers

first pass at using `@chia_command` without a group
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/plotnft.py
  chia/cmds/signer.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

less slots
  chia/cmds/cmd_classes.py
Owners: @Chia-Network/required-reviewers

both options
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/services.py
  chia/server/start_full_node.py
  chia/util/config.py
  pyproject.toml
Owners: @Chia-Network/required-reviewers

assert a bit more about the resulting run
  chia/_tests/cmds/test_dev_gh.py
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

do not conflict check `tmp/**`
  .github/workflows/conflict-check.yml
Owners: @Chia-Network/actions-reviewers

add an actual dispatch test skeleton
  chia/_tests/cmds/test_dev_gh.py
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

oops
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

skip the test for now
  chia/_tests/cmds/test_dev_gh.py
Owners: @Chia-Network/required-reviewers

pre-commit
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

fixup tests
  chia/_tests/core/services/test_services.py
Owners: @Chia-Network/required-reviewers

message
  chia/server/start_full_node.py
Owners: @Chia-Network/required-reviewers

wrap with writer
  chia/consensus/blockchain.py
  chia/full_node/coin_store.py
  chia/full_node/full_node.py
  chia/util/db_wrapper.py
Owners: @Chia-Network/required-reviewers

wrap with writer
  chia/full_node/full_node.py
Owners: @Chia-Network/required-reviewers

more less default root path (#19031)
  chia/_tests/cmds/cmd_test_utils.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmds_util.py
  chia/cmds/coin_funcs.py
  chia/cmds/coins.py
  chia/cmds/dao.py
  chia/cmds/dao_funcs.py
  chia/cmds/wallet.py
  chia/cmds/wallet_funcs.py
Owners: @Chia-Network/required-reviewers

avoid set for test parametrization (#19039)
  chia/_tests/rpc/test_rpc_client.py
Owners: @Chia-Network/required-reviewers

first pass at using `@chia_command` without a group (#19040)
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/plotnft.py
  chia/cmds/signer.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

catch up
  chia/_tests/cmds/test_click_types.py
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/pools/test_pool_cli_parsing.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/cmds/beta.py
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/configure.py
  chia/cmds/db.py
  chia/cmds/init.py
  chia/cmds/keys.py
  chia/cmds/param_types.py
  chia/cmds/passphrase.py
  chia/cmds/peer.py
  chia/cmds/plotnft.py
  chia/cmds/plots.py
  chia/cmds/plotters.py
  chia/cmds/show.py
  chia/cmds/sim.py
  chia/cmds/start.py
  chia/cmds/stop.py
  chia/cmds/util.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

undo some
  chia/cmds/cmd_classes.py
  chia/cmds/services.py
Owners: @Chia-Network/required-reviewers

touchup some commented code
  chia/_tests/core/services/test_services.py
Owners: @Chia-Network/required-reviewers

move some non-framework items out of `chia.cmds.cmd_classes`
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/pools/test_pool_cli_parsing.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmd_helpers.py
  chia/cmds/plotnft.py
  chia/cmds/plotnft_funcs.py
  chia/cmds/signer.py
Owners: @Chia-Network/required-reviewers

Drastically simplify everything
  chia/_tests/util/test_action_scope.py
  chia/util/action_scope.py
  chia/wallet/wallet_action_scope.py
Owners: @Chia-Network/required-reviewers

minor fixes
  chia/_tests/wallet/test_wallet_action_scope.py
  chia/util/action_scope.py
Owners: @Chia-Network/required-reviewers

less `DEFAULT_ROOT_PATH` for `get_any_service_client()`
  chia/_tests/cmds/cmd_test_utils.py
  chia/_tests/farmer_harvester/test_farmer_harvester.py
  chia/cmds/cmds_util.py
  chia/cmds/data_funcs.py
  chia/cmds/farm.py
  chia/cmds/farm_funcs.py
  chia/cmds/netspace.py
  chia/cmds/netspace_funcs.py
  chia/cmds/peer_funcs.py
  chia/cmds/plotnft.py
  chia/cmds/plotnft_funcs.py
  chia/cmds/show_funcs.py
  chia/cmds/sim_funcs.py
Owners: @Chia-Network/required-reviewers

mypy
  chia/full_node/coin_store.py
Owners: @Chia-Network/required-reviewers

testnet config for epchrismain2wjb
  chia/util/default_root.py
  chia/util/initial-config.yaml
Owners: @Chia-Network/required-reviewers

docs: The quotation marks are incorrect.
  CHANGELOG.md
Owners: @Chia-Network/required-reviewers

semantic newlines in `PRETTY_GOOD_PRACTICES.md`
  PRETTY_GOOD_PRACTICES.md
Owners: @altendky, @Chia-Network/required-reviewers

Add a section about monkey-patching in tests to PRETTY_GOOD_PRACTICES.md.
  PRETTY_GOOD_PRACTICES.md
Owners: @altendky, @Chia-Network/required-reviewers

update seeder for mypy
  chia/seeder/dns_server.py
Owners: @Chia-Network/required-reviewers

less `DEFAULT_ROOT_PATH` for `get_any_service_client()` (#19049)
  chia/_tests/cmds/cmd_test_utils.py
  chia/_tests/farmer_harvester/test_farmer_harvester.py
  chia/cmds/cmds_util.py
  chia/cmds/data_funcs.py
  chia/cmds/farm.py
  chia/cmds/farm_funcs.py
  chia/cmds/netspace.py
  chia/cmds/netspace_funcs.py
  chia/cmds/peer_funcs.py
  chia/cmds/plotnft.py
  chia/cmds/plotnft_funcs.py
  chia/cmds/show_funcs.py
  chia/cmds/sim_funcs.py
Owners: @Chia-Network/required-reviewers

[CHIA-1348] Port `chia wallet coin` commands to `@chia_command` framework (#18641)
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/cmds/wallet/test_coins.py
  chia/_tests/cmds/wallet/test_tx_decorators.py
  chia/_tests/cmds/wallet/test_wallet.py
  chia/_tests/environments/wallet.py
  chia/_tests/wallet/rpc/test_wallet_rpc.py
  chia/_tests/wallet/test_coin_management.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmds_util.py
  chia/cmds/coin_funcs.py
  chia/cmds/coins.py
  chia/cmds/signer.py
Owners: @Chia-Network/required-reviewers

move the other new stuff too
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/environments/wallet.py
  chia/_tests/wallet/test_coin_management.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmd_helpers.py
  chia/cmds/coins.py
  chia/cmds/signer.py
Owners: @Chia-Network/required-reviewers

tidy
  chia/_tests/cmds/test_click_types.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/cmds/check_wallet_db.py
  chia/cmds/keys.py
  chia/cmds/param_types.py
  chia/cmds/sim.py
Owners: @Chia-Network/required-reviewers

Absorb fee into action scope
  chia/_tests/core/mempool/test_mempool_manager.py
  chia/_tests/core/mempool/test_mempool_performance.py
  chia/_tests/simulation/test_simulation.py
  chia/_tests/wallet/cat_wallet/test_cat_wallet.py
  chia/_tests/wallet/cat_wallet/test_trades.py
  chia/_tests/wallet/dao_wallet/test_dao_wallets.py
  chia/_tests/wallet/db_wallet/test_dl_offers.py
  chia/_tests/wallet/db_wallet/test_dl_wallet.py
  chia/_tests/wallet/did_wallet/test_did.py
  chia/_tests/wallet/nft_wallet/test_nft_1_offers.py
  chia/_tests/wallet/nft_wallet/test_nft_bulk_mint.py
  chia/_tests/wallet/nft_wallet/test_nft_offers.py
  chia/_tests/wallet/rpc/test_wallet_rpc.py
  chia/_tests/wallet/simple_sync/test_simple_sync_protocol.py
  chia/_tests/wallet/test_notifications.py
  chia/_tests/wallet/test_wallet.py
  chia/_tests/wallet/vc_wallet/test_vc_wallet.py
  chia/data_layer/data_layer_wallet.py
  chia/pools/pool_wallet.py
  chia/rpc/wallet_rpc_api.py
  chia/wallet/cat_wallet/cat_wallet.py
  chia/wallet/cat_wallet/dao_cat_wallet.py
  chia/wallet/dao_wallet/dao_wallet.py
  chia/wallet/did_wallet/did_wallet.py
  chia/wallet/nft_wallet/nft_wallet.py
  chia/wallet/notification_manager.py
  chia/wallet/puzzles/tails.py
  chia/wallet/trade_manager.py
  chia/wallet/vc_wallet/cr_cat_wallet.py
  chia/wallet/vc_wallet/vc_wallet.py
  chia/wallet/wallet.py
  chia/wallet/wallet_action_scope.py
  chia/wallet/wallet_state_manager.py
Owners: @Chia-Network/required-reviewers

move some non-framework items out of `chia.cmds.cmd_classes` (#19047)
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/environments/wallet.py
  chia/_tests/pools/test_pool_cli_parsing.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/_tests/wallet/test_coin_management.py
  chia/_tests/wallet/test_signer_protocol.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmd_helpers.py
  chia/cmds/coin_funcs.py
  chia/cmds/coins.py
  chia/cmds/plotnft.py
  chia/cmds/plotnft_funcs.py
  chia/cmds/signer.py
Owners: @Chia-Network/required-reviewers

Add automatic fee parsing to RPC action scope
  chia/rpc/util.py
Owners: @Chia-Network/required-reviewers

move ruff check right after ruff format in pre-commit since it is fast and changing stuff now
  .pre-commit-config.yaml
Owners: @Chia-Network/required-reviewers

more
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/pools/test_pool_cli_parsing.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/cmds/cmd_classes.py
  chia/cmds/dao.py
  chia/cmds/farm.py
  chia/cmds/keys.py
  chia/cmds/netspace.py
  chia/cmds/param_types.py
  chia/cmds/rpc.py
  chia/cmds/sim.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

stuff
  chia/_tests/cmds/test_click_types.py
Owners: @Chia-Network/required-reviewers

.github/CODEOWNERS:

*	@Chia-Network/required-reviewers
/.github/**/* @Chia-Network/actions-reviewers
/PRETTY_GOOD_PRACTICES.md	@altendky @Chia-Network/required-reviewers
/tests/ether.py @altendky @Chia-Network/required-reviewers
