Repository Chia-Network/chia-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Chia-Network/required-reviewers, @Chia-Network/actions-reviewers, @altendky

Set minimum to TLSv1.3
  chia/server/server.py
Owners: @Chia-Network/required-reviewers

Update daemon specific option
  chia/daemon/server.py
Owners: @Chia-Network/required-reviewers

Remove deprecation warning
  chia/daemon/server.py
Owners: @Chia-Network/required-reviewers

Minor grammatical correction in wallet_rpc_api.py (#18955)
  chia/rpc/wallet_rpc_api.py
Owners: @Chia-Network/required-reviewers

go back to <4 as the python version upper limit
  poetry.lock
  pyproject.toml
Owners: @Chia-Network/required-reviewers

Enabling SSLKEYLOGFILE Capability
  chia/server/server.py
Owners: @Chia-Network/required-reviewers

fix height o and height to hash in augmented
  chia/full_node/full_node.py
  chia/util/augmented_chain.py
Owners: @Chia-Network/required-reviewers

Update chiavdf to 1.1.9
  chia/_tests/blockchain/test_augmented_chain.py
  chia/_tests/blockchain/test_blockchain.py
  chia/_tests/conftest.py
  chia/_tests/core/data_layer/test_data_rpc.py
  chia/_tests/core/data_layer/test_data_store.py
  chia/_tests/core/full_node/test_address_manager.py
  chia/_tests/core/mempool/test_singleton_fast_forward.py
  chia/_tests/pools/test_pool_puzzles_lifecycle.py
  chia/_tests/util/test_misc.py
  chia/_tests/wallet/cat_wallet/test_cat_wallet.py
  chia/_tests/wallet/nft_wallet/test_nft_wallet.py
  chia/cmds/cmd_classes.py
  chia/plotting/check_plots.py
  chia/server/address_manager.py
  chia/wallet/wallet_state_manager.py
  poetry.lock
Owners: @Chia-Network/required-reviewers

Update chiavdf to 1.1.9
  poetry.lock
Owners: @Chia-Network/required-reviewers

Update chiavdf to 1.1.9 (#19083)
  poetry.lock
Owners: @Chia-Network/required-reviewers

chore: fix 404 status URL
  chia/_tests/core/util/test_keychain.py
Owners: @Chia-Network/required-reviewers

maybe quieter
  .github/workflows/test-install-scripts.yml
  build_scripts/check_dependency_artifacts.py
Owners: @Chia-Network/actions-reviewers, @Chia-Network/required-reviewers

oh well
  .github/workflows/test-install-scripts.yml
Owners: @Chia-Network/actions-reviewers

hmmph
  .github/workflows/check_wheel_availability.yaml
  build_scripts/check_dependency_artifacts.py
Owners: @Chia-Network/actions-reviewers, @Chia-Network/required-reviewers

Update license
  LICENSE
Owners: @Chia-Network/required-reviewers

Updated License (#19100)
  LICENSE
Owners: @Chia-Network/required-reviewers

Update dependabot
  .github/dependabot.yml
Owners: @Chia-Network/actions-reviewers

case insensitivy on the key already present errors
  chia/_tests/core/data_layer/test_data_store.py
  chia/_tests/core/data_layer/test_merkle_blob.py
  chia/data_layer/data_store.py
Owners: @Chia-Network/required-reviewers

Update Managed Files (#19064)
  .github/dependabot.yml
Owners: @Chia-Network/actions-reviewers

Update requirements-poetry.txt to use poetry 1.8.5 like dependabot
  requirements-poetry.txt
Owners: @Chia-Network/required-reviewers

re-enable
  chia/_tests/core/data_layer/test_merkle_blob.py
Owners: @Chia-Network/required-reviewers

more
  chia/_tests/core/data_layer/test_merkle_blob.py
Owners: @Chia-Network/required-reviewers

update ignore list
  ruff.toml
Owners: @Chia-Network/required-reviewers

poetry 1.8.5
  poetry.lock
Owners: @Chia-Network/required-reviewers

migrate did wallet
  chia/wallet/did_wallet/did_wallet_puzzles.py
  chia/wallet/did_wallet/puzzles/__init__.py
  chia/wallet/did_wallet/puzzles/did_innerpuz.clsp
  chia/wallet/did_wallet/puzzles/did_innerpuz.clsp.hex
Owners: @Chia-Network/required-reviewers

add dependency for chia_puzzles_py
  poetry.lock
  pyproject.toml
Owners: @Chia-Network/required-reviewers

stop importing singleton launcher from nft_puzzles in nft_wallet
  chia/wallet/nft_wallet/nft_wallet.py
Owners: @Chia-Network/required-reviewers

more migration and deduplication
  chia/_tests/wallet/nft_wallet/test_nft_puzzles.py
  chia/data_layer/data_layer_wallet.py
  chia/wallet/dao_wallet/dao_utils.py
  chia/wallet/dao_wallet/dao_wallet.py
  chia/wallet/db_wallet/db_wallet_puzzles.py
  chia/wallet/nft_wallet/nft_puzzles.py
  chia/wallet/nft_wallet/nft_wallet.py
  chia/wallet/singleton.py
  chia/wallet/trading/offer.py
Owners: @Chia-Network/required-reviewers

change singleton launcher hash import in rpc
  chia/rpc/wallet_rpc_api.py
Owners: @Chia-Network/required-reviewers

remove SINGLETON_LAUNCHER_PUZZLE import from nft_puzzles
  chia/wallet/nft_wallet/nft_wallet.py
Owners: @Chia-Network/required-reviewers

remove unused import
  chia/_tests/wallet/dao_wallet/test_dao_clvm.py
Owners: @Chia-Network/required-reviewers

migrate cat and dao wallets to new repo
  chia/_tests/wallet/dao_wallet/test_dao_clvm.py
  chia/wallet/cat_wallet/cat_utils.py
  chia/wallet/cat_wallet/puzzles/__init__.py
  chia/wallet/cat_wallet/puzzles/cat_truths.clib
  chia/wallet/cat_wallet/puzzles/cat_v2.clsp
  chia/wallet/cat_wallet/puzzles/cat_v2.clsp.hex
  chia/wallet/cat_wallet/puzzles/delegated_tail.clsp
  chia/wallet/cat_wallet/puzzles/delegated_tail.clsp.hex
  chia/wallet/cat_wallet/puzzles/everything_with_signature.clsp
  chia/wallet/cat_wallet/puzzles/everything_with_signature.clsp.hex
  chia/wallet/cat_wallet/puzzles/genesis_by_coin_id.clsp
  chia/wallet/cat_wallet/puzzles/genesis_by_coin_id.clsp.hex
  chia/wallet/cat_wallet/puzzles/genesis_by_coin_id_or_singleton.clsp
  chia/wallet/cat_wallet/puzzles/genesis_by_coin_id_or_singleton.clsp.hex
  chia/wallet/cat_wallet/puzzles/genesis_by_puzzle_hash.clsp
  chia/wallet/cat_wallet/puzzles/genesis_by_puzzle_hash.clsp.hex
  chia/wallet/dao_wallet/dao_utils.py
  chia/wallet/puzzles/tails.py
Owners: @Chia-Network/required-reviewers

fix import
  chia/wallet/puzzles/p2_conditions.py
  chia/wallet/puzzles/p2_delegated_puzzle.py
  chia/wallet/puzzles/p2_delegated_puzzle_or_hidden_puzzle.py
  chia/wallet/puzzles/p2_m_of_n_delegate_direct.py
  chia/wallet/puzzles/p2_puzzle_hash.py
  chia/wallet/puzzles/singleton_top_layer.py
  chia/wallet/puzzles/singleton_top_layer_v1_1.py
Owners: @Chia-Network/required-reviewers

get rid of more non explicit exports
  chia/_tests/wallet/dao_wallet/test_dao_clvm.py
  chia/wallet/db_wallet/db_wallet_puzzles.py
  chia/wallet/util/puzzle_compression.py
Owners: @Chia-Network/required-reviewers

use graftroot dl offers from chia_puzzles_py
  chia/wallet/db_wallet/db_wallet_puzzles.py
  poetry.lock
Owners: @Chia-Network/required-reviewers

ruff check and fix
  chia/_tests/wallet/dao_wallet/test_dao_clvm.py
  chia/_tests/wallet/nft_wallet/test_nft_puzzles.py
  chia/data_layer/data_layer_wallet.py
  chia/wallet/cat_wallet/cat_utils.py
  chia/wallet/dao_wallet/dao_utils.py
  chia/wallet/dao_wallet/dao_wallet.py
  chia/wallet/db_wallet/db_wallet_puzzles.py
  chia/wallet/did_wallet/did_wallet_puzzles.py
  chia/wallet/nft_wallet/nft_puzzles.py
  chia/wallet/nft_wallet/nft_wallet.py
  chia/wallet/puzzles/tails.py
  chia/wallet/singleton.py
  chia/wallet/trading/offer.py
Owners: @Chia-Network/required-reviewers

ruff check
  chia/wallet/util/puzzle_compression.py
Owners: @Chia-Network/required-reviewers

fix more imports
  chia/wallet/puzzles/p2_delegated_conditions.py
Owners: @Chia-Network/required-reviewers

migrate py files in puzzles to use chia_puzzles_py
  chia/wallet/puzzles/p2_conditions.py
  chia/wallet/puzzles/p2_delegated_conditions.py
  chia/wallet/puzzles/p2_delegated_puzzle.py
  chia/wallet/puzzles/p2_delegated_puzzle_or_hidden_puzzle.py
  chia/wallet/puzzles/p2_m_of_n_delegate_direct.py
  chia/wallet/puzzles/p2_puzzle_hash.py
  chia/wallet/puzzles/singleton_top_layer.py
  chia/wallet/puzzles/singleton_top_layer_v1_1.py
Owners: @Chia-Network/required-reviewers

remove circular dependency
  chia/wallet/util/puzzle_compression.py
Owners: @Chia-Network/required-reviewers

.github/CODEOWNERS:

*	@Chia-Network/required-reviewers
/.github/**/* @Chia-Network/actions-reviewers
/PRETTY_GOOD_PRACTICES.md	@altendky @Chia-Network/required-reviewers
/tests/ether.py @altendky @Chia-Network/required-reviewers
