Repository Chia-Network/chia-blockchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Chia-Network/required-reviewers, @Chia-Network/actions-reviewers, @altendky

Test older boost version.
  install-timelord.sh
Owners: @Chia-Network/required-reviewers

Use boost v1.85 when compiling chiavdf from source on macos-intel.
  install-timelord.sh
Owners: @Chia-Network/required-reviewers

...
  chia/_tests/cmds/test_click_types.py
  chia/cmds/beta.py
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/configure.py
  chia/cmds/dao.py
  chia/cmds/db.py
  chia/cmds/farm.py
  chia/cmds/init.py
  chia/cmds/keys.py
  chia/cmds/netspace.py
  chia/cmds/param_types.py
  chia/cmds/passphrase.py
  chia/cmds/peer.py
  chia/cmds/plots.py
  chia/cmds/plotters.py
  chia/cmds/rpc.py
  chia/cmds/show.py
  chia/cmds/sim.py
  chia/cmds/start.py
  chia/cmds/stop.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

more real
  chia/_tests/cmds/test_click_types.py
Owners: @Chia-Network/required-reviewers

Fix FullNodeAPI's request_block_headers returned filter.
  chia/_tests/util/test_full_block_utils.py
  chia/_tests/wallet/sync/test_wallet_sync.py
  chia/full_node/full_node_api.py
  chia/util/full_block_utils.py
Owners: @Chia-Network/required-reviewers

CHIA-2091 Use boost v1.85 when compiling chiavdf from source on macos-intel (#19065)
  install-timelord.sh
Owners: @Chia-Network/required-reviewers

expected address prefix
  chia/cmds/cmd_classes.py
Owners: @Chia-Network/required-reviewers

Remove unnecessary action_scope edit
  chia/rpc/wallet_rpc_api.py
Owners: @Chia-Network/required-reviewers

move ruff check right after ruff format in pre-commit since it is fast and changing stuff now (#19063)
  .pre-commit-config.yaml
Owners: @Chia-Network/required-reviewers

some test fixes
  chia/_tests/core/full_node/test_transactions.py
  chia/wallet/puzzles/tails.py
  chia/wallet/wallet_state_manager.py
Owners: @Chia-Network/required-reviewers

use long lived from chia_rs
  poetry.lock
  pyproject.toml
Owners: @Chia-Network/required-reviewers

install rust in install action
  .github/actions/install/action.yml
  .github/workflows/test-single.yml
Owners: @Chia-Network/actions-reviewers

add a feature to log spend bundles being added to the mempool
  chia/full_node/full_node.py
  chia/util/initial-config.yaml
Owners: @Chia-Network/required-reviewers

Actually pass selected coins through
  chia/rpc/wallet_rpc_api.py
  chia/wallet/wallet_state_manager.py
Owners: @Chia-Network/required-reviewers

oops
  chia/rpc/wallet_rpc_api.py
Owners: @Chia-Network/required-reviewers

CHIA-1862 Fix FullNodeAPI's request_block_headers returned filter (#18923)
  chia/_tests/util/test_full_block_utils.py
  chia/_tests/wallet/sync/test_wallet_sync.py
  chia/full_node/full_node_api.py
  chia/util/full_block_utils.py
Owners: @Chia-Network/required-reviewers

ignore errors in daemon plotter process cleanup (#19025)
  chia/daemon/server.py
Owners: @Chia-Network/required-reviewers

add a feature to log spend bundles being added to the mempool (#19068)
  chia/full_node/full_node.py
  chia/util/initial-config.yaml
Owners: @Chia-Network/required-reviewers

Fix offer test
  chia/_tests/core/full_node/test_transactions.py
  chia/wallet/trade_manager.py
Owners: @Chia-Network/required-reviewers

Update dependabot
  .github/dependabot.yml
Owners: @Chia-Network/actions-reviewers

Update chia/timelord/timelord.py
  chia/timelord/timelord.py
Owners: @Chia-Network/required-reviewers

Add log.exception.
  chia/timelord/timelord.py
Owners: @Chia-Network/required-reviewers

Reduce log spam with will not infuse block.
  chia/timelord/timelord.py
Owners: @Chia-Network/required-reviewers

Order header blocks by height in get_header_blocks_in_range.
  chia/_tests/blockchain/test_blockchain.py
  chia/consensus/blockchain.py
Owners: @Chia-Network/required-reviewers

Avoid computing a transactions filter with just reward coins when the filter is not requested from get_block_header.
  chia/_tests/blockchain/test_blockchain.py
  chia/_tests/util/test_full_block_utils.py
  chia/_tests/wallet/test_wallet_blockchain.py
  chia/_tests/weight_proof/test_weight_proof.py
  chia/consensus/blockchain.py
  chia/consensus/multiprocess_validation.py
  chia/full_node/full_node_api.py
  chia/util/generator_tools.py
Owners: @Chia-Network/required-reviewers

simplify including using `Task.add_done_callback()` for culling
  chia/util/task_referencer.py
Owners: @Chia-Network/required-reviewers

Update dependabot
  .github/dependabot.yml
Owners: @Chia-Network/actions-reviewers

More test fixes
  chia/rpc/wallet_rpc_api.py
  chia/wallet/cat_wallet/cat_wallet.py
  chia/wallet/did_wallet/did_wallet.py
  chia/wallet/vc_wallet/vc_wallet.py
Owners: @Chia-Network/required-reviewers

CHIA-1945 Avoid computing a transactions filter with just reward coins when the filter is not requested from get_block_header (#18969)
  chia/_tests/blockchain/test_blockchain.py
  chia/_tests/util/test_full_block_utils.py
  chia/_tests/wallet/test_wallet_blockchain.py
  chia/_tests/weight_proof/test_weight_proof.py
  chia/consensus/blockchain.py
  chia/consensus/multiprocess_validation.py
  chia/full_node/full_node_api.py
  chia/util/generator_tools.py
Owners: @Chia-Network/required-reviewers

use a class for the chia cli context data (#18919)
  chia/_tests/cmds/test_click_types.py
  chia/_tests/cmds/test_cmd_framework.py
  chia/_tests/pools/test_pool_cli_parsing.py
  chia/_tests/pools/test_pool_cmdline.py
  chia/cmds/beta.py
  chia/cmds/check_wallet_db.py
  chia/cmds/chia.py
  chia/cmds/cmd_classes.py
  chia/cmds/cmd_helpers.py
  chia/cmds/configure.py
  chia/cmds/dao.py
  chia/cmds/db.py
  chia/cmds/farm.py
  chia/cmds/init.py
  chia/cmds/keys.py
  chia/cmds/netspace.py
  chia/cmds/param_types.py
  chia/cmds/passphrase.py
  chia/cmds/peer.py
  chia/cmds/plotnft.py
  chia/cmds/plots.py
  chia/cmds/plotters.py
  chia/cmds/rpc.py
  chia/cmds/show.py
  chia/cmds/sim.py
  chia/cmds/start.py
  chia/cmds/stop.py
  chia/cmds/wallet.py
Owners: @Chia-Network/required-reviewers

fixup
  chia/_tests/wallet/test_debug_spend_bundle.py
  chia/_tests/wallet/test_singleton_lifecycle_fast.py
Owners: @Chia-Network/required-reviewers

add chia dev gh test for launching configured test runs (#18922)
  .github/workflows/conflict-check.yml
  chia/_tests/cmds/test_dev_gh.py
  chia/cmds/dev.py
  chia/cmds/gh.py
Owners: @Chia-Network/actions-reviewers, @Chia-Network/required-reviewers

Remove unnecessary action_scope edit (#19066)
  chia/rpc/wallet_rpc_api.py
  chia/wallet/wallet_state_manager.py
Owners: @Chia-Network/required-reviewers

fix gh command setup
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

fix gh command setup (#19073)
  chia/cmds/gh.py
Owners: @Chia-Network/required-reviewers

convert a test reference string to a multiline string literal
  chia/_tests/wallet/test_debug_spend_bundle.py
Owners: @Chia-Network/required-reviewers

stop overwriting `sys.stdout`
  chia/_tests/wallet/test_debug_spend_bundle.py
Owners: @Chia-Network/required-reviewers

Cover computing transactions filter for transaction blocks with only reward coins.
  chia/_tests/wallet/sync/test_wallet_sync.py
Owners: @Chia-Network/required-reviewers

Clarify cases when transactions filter is computed with just reward coins.
  chia/consensus/blockchain.py
  chia/consensus/multiprocess_validation.py
  chia/full_node/full_node_api.py
  chia/util/generator_tools.py
Owners: @Chia-Network/required-reviewers

to multiline string literal (#19075)
  chia/_tests/wallet/test_debug_spend_bundle.py
Owners: @Chia-Network/required-reviewers

.github/CODEOWNERS:

*	@Chia-Network/required-reviewers
/.github/**/* @Chia-Network/actions-reviewers
/PRETTY_GOOD_PRACTICES.md	@altendky @Chia-Network/required-reviewers
/tests/ether.py @altendky @Chia-Network/required-reviewers
